/*-------------------   Geral - DESKTOP   -------------------*/

#Tela {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

.text {
  font-family: 'Lato-Light';
  font-size: 18px;
  color: #bbbbbb;
  margin: auto;
  text-align: justify;
  text-align-last: center;
  width: 80%;
  max-width: 350px;
}

.title {
  font-family: 'Lato-Light';
  font-size: 25px;
  color: #ffffff;
  margin: 10px auto;
  text-align: justify;
  text-align-last: center;
}

.BL-sep {
  width: 30px;
  height: 30px;
}

.sep {
  height: 30px;
}

.form {
  width: 90%;
  max-width: 400px;
  margin: auto!important;
}

/*-------------------   Banners - DESKTOP   -------------------*/

#HP_BN_xmas {
  background-image: url("images/banner-xmas.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

#HP_BL_presents {
  background-image: url("images/presents.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#HP_BL_blank {
  margin-top: 150px;
  width: 100%;
}

#HP_BN_promo30 {
  background-image: url("images/banner-promo30.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/*-------------------   Banners - DESKTOP   -------------------*/

.banner {
  width: 100%;
  height: 350px;
  position: relative;
}

.h500 {
  height: 500px!important;
}

.BN-img {
  width: 100%;
}

.BN-txt-500 {
  position: absolute;
  top: 35%;
  margin: 0px;
  text-align: center;
}

.banner:hover>div>.link {
  font-size: 35px;
  transition-duration: .5s;
  text-decoration: none!important;
}

.link {
  text-decoration: none;
  font-family: 'Lato-Light';
  position: relative;
  line-height: 100%;
  font-size: 20px;
  margin: 0px;
  border-bottom: 1px solid;
  border-color: inherit;
  transition-duration: .5s;
}

.left {
  text-align: left!important;
  left: 10%;
}

/*-------------------   Bloco de 2 - DESKTOP   -------------------*/

.BL-2x {
  flex-basis: auto;
  display: flex;
}

.BL-2x-1 {
  display: block;
  position: relative;
  justify-content: center;
  width: 49%;
}

.bloco-img {
  width: 100%;
  padding-top: 100%;
}

.BL-txt {
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin: 0px;
  margin-left: -175px;
  width: 350px;
  text-align: center;
}

.BL-btn {
  font-size: 16px;
  font-family: 'Lato-Light';
  line-height: 100%;
  margin-top: 0px;
  text-decoration: none!important;
  padding: 5px 15px 8px;
  border: 1px solid #666666;
}

.BL-btn-white {
  font-size: 16px;
  font-family: 'Lato-Light';
  line-height: 100%;
  text-decoration: none!important;
  padding: 5px 15px 8px;
  border: 1px solid #ffffff!important;
  color: #ffffff!important;
  text-shadow: 0px 1px 2px #999999;
  transition-duration: .5s;
}

div:hover>div>.BL-btn-white {
  border: 1px solid white;
  background-color: #ffffff;
  color: #666666!important;
  text-shadow: none;
}

.BL-btn-whiteBG {
  font-size: 16px;
  font-family: 'Lato-Light';
  line-height: 100%;
  text-decoration: none!important;
  padding: 5px 15px 8px;
  border: 1px solid #ffffff!important;
  background-color: #ffffff;
  color: #666666!important;
  transition-duration: .5s;
}

div:hover>div>.BL-btn-whiteBG {
  border: 1px solid #666666!important;
  background-color: #666666!important;
  color: #ffffff!important;
  text-shadow: none;
}

.BL-2x-1:hover>div>.link {
  font-size: 35px;
  transition-duration: .5s;
  text-decoration: none!important;
}

.BL-2x-1:hover>div>.BL-btn {
  transition-duration: .5s;
  text-decoration: none!important;
  background: #ffffff;
  border: 1px solid #ffffff;
}

/*-------------------   Bloco de 3 - DESKTOP   -------------------*/

.BL_3x {
  width: 100%;
  display: flex;
}

.BL_3x-2 {
  flex-basis: auto;
  display: flex;
}

.BL_3x-1 {
  flex-basis: 410px;
  display: block;
  position: relative
}

.BL_3x-img {
  width: 100%;
}

.BL_3x-img2 {
  width: 100%;
  display: none;
}

.BL_3x-sep {
  width: 30px;
  height: 30px;
  flex-basis: 30px;
}

.BL_3x-txt {
  text-align: center;
  font-family: 'Lato-Light';
  color: #666666;
  margin-top: -50px;
}

.BL_3x-txt>p {
  color: #666666;
  font-weight: bold;
  margin: 5px;
}

.BL_3x-txt>a {
  color: #666666;
  font-family: 'Lato-Light';
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid white;
  background-color: #ffffff;
  padding: 2px 45px;
}

/*-------------------   Extras - DESKTOP   -------------------*/

.desk {
  display: block!important;
}

@keyframes boo {
  0% {
    width: 0px;
    left: 120px;
    height: 0px;
  }
  20% {
    width: 0px;
    left: 120px;
    height: 0px;
  }
  23% {
    width: 175px;
    left: 120px;
    height: 160px;
  }
  80% {
    width: 175px;
    left: 120px;
    height: 160px;
  }
  83% {
    width: 0px;
    left: 120px;
    height: 0px;
  }
  100% {
    width: 0px;
    left: 120px;
    height: 0px;
  }
}

.Promo30_img {
  margin-top: -30px!important;
}



/*-------------------   MOBILE   -------------------*/
/*--------------------------------------------------*/

@media screen and (max-width:770px) {

  /*-------------------   Geral - MOBILE   -------------------*/

  #Tela {
    width: 90vw;
    margin: auto;
  }

  .text {
    font-family: 'Lato-Light';
    font-size: 18px;
    color: #bbbbbb;
    margin: auto;
    text-align: justify;
    text-align-last: center;
    width: 80%;
    max-width: 350px;
  }

  .title {
    font-family: 'Lato-Light';
    font-size: 25px;
    color: #ffffff;
    margin: 10px auto;
    text-align: justify;
    text-align-last: center;
  }

  @keyframes boo {
    0% {
      width: 0px;
      left: 100px;
      height: 0px;
    }
    20% {
      width: 0px;
      left: 100px;
      height: 0px;
    }
    23% {
      width: 110px;
      left: 100px;
      height: 90px;
    }
    80% {
      width: 110px;
      left: 100px;
      height: 90px;
    }
    83% {
      width: 0px;
      left: 100px;
      height: 0px;
    }
    100% {
      width: 0px;
      left: 100px;
      height: 0px;
    }
  }

  .Promo30_img {
    margin-top: -20px!important;
    width: 80%!important;
  }

  /*-------------------   Banners - MOBILE   -------------------*/

  #HP_BN_xmas {
    background-position: 40% 0%;
  }

  #HP_BL_blank {
    margin-top: 0px;
  }

  #HP_BN_promo30 {
    background-position: 65% 0%;
  }

  .banner {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .BN-img {
    width: 100%;
  }

  .h500 {
    height: 250px!important;
  }

  .BN-txt-500 {
  position: absolute;
  top: 50%;
  margin: 0px;
  margin-top: -65px;
  height: 100px;
  width: 60%
  }

  .link {
    text-decoration: none;
    font-family: 'Lato-Light';
    line-height: 100%;
    font-size: 18px;
    margin: 0px;
    border-bottom: 1px solid;
    border-color: inherit;
  }

  .banner:hover>div>.link {
    font-size: 25px;
    transition-duration: .5s;
    text-decoration: none!important;
  }

  .left {
    text-align: left!important;
    left: 20px;
  }

  /*-------------------   Bloco-2 - MOBILE   -------------------*/

  .BL-2x {
    flex-basis: auto;
    display: block;
  }

  .BL-2x-1 {
    display: block;
    position: relative;
    justify-content: center;
    width: 100%;
  }

  .bloco-img {
    width: 100%;
  }

  .BL-txt {
    position: absolute;
    top: 78%;
    left: 50%;
    margin: 0px;
    margin-left: -125px;
    width: 250px;
    text-align: center;
  }

  .BL-btn {
    font-size: 13px;
    font-family: 'Lato-Light';
    line-height: 100%;
    margin: 0px;
    text-decoration: none!important;
    padding: 5px 5px 8px;
    border: 1px solid #666666;
  }

  .BL-link {
    position: absolute;
    text-align: center;
    top: 165px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    font-size: 20px;
    font-family: 'Lato-Light';
    transition-duration: .5s;
  }

  .BL-2x-1:hover>div>.link {
    font-size: 25px;
    transition-duration: .5s;
  }

  /*-------------------   Bloco de 3 - MOBILE   -------------------*/

  .BL_3x-txt {
    margin-top: -30px;
  }

  .BL_3x-txt>a {
    color: #666666;
    font-family: 'Lato-Light';
    text-decoration: none;
    font-size: 12px;
    padding: 2px 20px;
  }

  /*-------------------   Extras - MOBILE   -------------------*/

  .desk {
    display: none!important;
  }

}
